<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KBPreserveFormattingPreservesAlignment</key>
	<true/>
	<key>KBPreserveFormattingPreservesFontSize</key>
	<true/>
	<key>KBPreserveFormattingPreservesLineSpacing</key>
	<true/>
	<key>KBPreserveFormattingPreservesTabsAndIndents</key>
	<true/>
	<key>SCRCompileAddFrontMatterKey</key>
	<false/>
	<key>SCRCompileAlternativeBlankLineSeparatorKey</key>
	<string>* * *</string>
	<key>SCRCompileAnnotationsRTFConversionTypeKey</key>
	<integer>0</integer>
	<key>SCRCompileAvoidWidowsAndOrphansKey</key>
	<true/>
	<key>SCRCompileCenterAlternateFooterStringKey</key>
	<string></string>
	<key>SCRCompileCenterAlternateHeaderStringKey</key>
	<string></string>
	<key>SCRCompileCenterFirstPageFooterStringKey</key>
	<string></string>
	<key>SCRCompileCenterFirstPageHeaderStringKey</key>
	<string></string>
	<key>SCRCompileCenterFooterStringKey</key>
	<string>&lt;$p&gt;</string>
	<key>SCRCompileCenterHeaderStringKey</key>
	<string></string>
	<key>SCRCompileConvertEllipsesToTriplePeriodsKey</key>
	<false/>
	<key>SCRCompileConvertEmDashesToHyphensKey</key>
	<false/>
	<key>SCRCompileConvertItalicsToUnderlineKey</key>
	<false/>
	<key>SCRCompileConvertLinkedRTFDImagesToEmbeddedImagesKey</key>
	<false/>
	<key>SCRCompileConvertMMDAnnotationsToHTMLStyledTextKey</key>
	<false/>
	<key>SCRCompileConvertSpacesKey</key>
	<false/>
	<key>SCRCompileConvertSpacingToPlainTextKey</key>
	<false/>
	<key>SCRCompileConvertUnderlineToItalicsKey</key>
	<false/>
	<key>SCRCompileCountFirstPageKey</key>
	<true/>
	<key>SCRCompileDeleteStruckThroughTextKey</key>
	<false/>
	<key>SCRCompileDifferentAlternatePageHeaderAndFooterKey</key>
	<false/>
	<key>SCRCompileDifferentFirstPageHeaderAndFooterKey</key>
	<false/>
	<key>SCRCompileDisableAutoNumberingKey</key>
	<false/>
	<key>SCRCompileDocumentAuthorKey</key>
	<string></string>
	<key>SCRCompileDocumentBackgroundColorKey</key>
	<data>
	BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMDhAJm
	ZgEBhg==
	</data>
	<key>SCRCompileDocumentCommentsKey</key>
	<string></string>
	<key>SCRCompileDocumentCompanyKey</key>
	<string></string>
	<key>SCRCompileDocumentCopyrightKey</key>
	<string></string>
	<key>SCRCompileDocumentKeywordsKey</key>
	<array/>
	<key>SCRCompileDocumentSubjectKey</key>
	<string></string>
	<key>SCRCompileDocumentTitleKey</key>
	<string></string>
	<key>SCRCompileEBookAuthorsKey</key>
	<array/>
	<key>SCRCompileEBookCenterHTMLToCKey</key>
	<false/>
	<key>SCRCompileEBookContainsScriptFormattingKey</key>
	<false/>
	<key>SCRCompileEBookContributorsKey</key>
	<array/>
	<key>SCRCompileEBookCoverBinderDocumentIDKey</key>
	<integer>-1</integer>
	<key>SCRCompileEBookCoverSVGCodeKey</key>
	<string></string>
	<key>SCRCompileEBookCoverSVGViewBoxHeightKey</key>
	<integer>800</integer>
	<key>SCRCompileEBookCoverSVGViewBoxWidthKey</key>
	<integer>600</integer>
	<key>SCRCompileEBookCoverTitleKey</key>
	<string>Cover</string>
	<key>SCRCompileEBookDateKey</key>
	<string></string>
	<key>SCRCompileEBookDescriptionKey</key>
	<string></string>
	<key>SCRCompileEBookEPUBUniqueIdentifierKey</key>
	<string></string>
	<key>SCRCompileEBookEndnotesAreContinuousKey</key>
	<true/>
	<key>SCRCompileEBookEndnotesTitleKey</key>
	<string>Notes</string>
	<key>SCRCompileEBookGenerateHTMLToCKey</key>
	<true/>
	<key>SCRCompileEBookHTMLToCTitleKey</key>
	<string>Contents</string>
	<key>SCRCompileEBookIncludeiTunesCoverArtFileKey</key>
	<false/>
	<key>SCRCompileEBookKindleUniqueIdentifierKey</key>
	<string></string>
	<key>SCRCompileEBookLanguageKey</key>
	<string>en</string>
	<key>SCRCompileEBookPublisherKey</key>
	<string></string>
	<key>SCRCompileEBookRightsKey</key>
	<string></string>
	<key>SCRCompileEBookSaveKindleGenLogKey</key>
	<false/>
	<key>SCRCompileEBookScriptCSSKey</key>
	<string>p.sceneHeading {text-align:left; text-indent:0; margin: 12pt 0 0 0; text-transform:uppercase; font-family: Courier;}
p.action {text-align:left; text-indent:0; margin: 12pt 0 0 0; font-family: Courier;}
p.character {text-align:center; text-indent:0; margin: 12pt 0 0 0; text-transform:uppercase; font-family: Courier;}
p.parenthetical {text-align:center; text-indent:0; margin: 0 0 0 0; font-family: Courier;}
p.dialogue {text-align:left; text-indent:0; margin: 0 20% 0 20%; font-family: Courier;}
p.transition {text-align:right; text-indent:0; margin: 12pt 0 0 0; text-transform:uppercase; font-family: Courier;}
p.shot {text-align:left; text-indent:0; margin: 12pt 0pt 0pt 0pt; text-transform:uppercase; font-family: Courier;}</string>
	<key>SCRCompileEBookSubjectKey</key>
	<array/>
	<key>SCRCompileEBookTitleKey</key>
	<string></string>
	<key>SCRCompileEBookUseCustomIdentifierKey</key>
	<false/>
	<key>SCRCompileEBookUseFlatTOCKey</key>
	<false/>
	<key>SCRCompileEndOfTextMarkerKey</key>
	<string>Ends</string>
	<key>SCRCompileEndnotesStyleKey</key>
	<integer>3</integer>
	<key>SCRCompileExportInlineFootnotesAsEndnotesKey</key>
	<false/>
	<key>SCRCompileExportLinkedFootnotesAsEndnotesKey</key>
	<false/>
	<key>SCRCompileFDXBreakDialogueAndActionAtSentencesKey</key>
	<true/>
	<key>SCRCompileFDXFirstPageIsTitleKey</key>
	<false/>
	<key>SCRCompileFDXIncludeCommentsAndAnnotationsAsScriptNotesKey</key>
	<true/>
	<key>SCRCompileFDXIncludeFootnotesAsScriptNotesKey</key>
	<true/>
	<key>SCRCompileFDXIncludeRevisionColorsKey</key>
	<true/>
	<key>SCRCompileFDXScriptNoteFontKey</key>
	<data>
	BAtzdHJlYW10eXBlZIHoA4QBQISEhAZOU0ZvbnQehIQITlNPYmplY3QAhYQBaRiEBVsy
	NGNdBgAAABAAAAD//kMAbwB1AHIAaQBlAHIAhAFmDIQBYwCYAZgAmACG
	</data>
	<key>SCRCompileFDXSummaryFontKey</key>
	<data>
	BAtzdHJlYW10eXBlZIHoA4QBQISEhAZOU0ZvbnQehIQITlNPYmplY3QAhYQBaSSEBVsz
	NmNdBgAAABoAAAD//kwAdQBjAGkAZABhAEcAcgBhAG4AZABlAAAAhAFmDIQBYwCYAZgA
	mACG
	</data>
	<key>SCRCompileFDXUseDefaultScriptElementsKey</key>
	<false/>
	<key>SCRCompileFilterCollectionIDKey</key>
	<string>667D84C6-E253-4BD3-9FCC-0BBFD4929446</string>
	<key>SCRCompileFilterContentsKey</key>
	<false/>
	<key>SCRCompileFilterExcludeKey</key>
	<false/>
	<key>SCRCompileFilterLabelKey</key>
	<integer>-1</integer>
	<key>SCRCompileFilterStatusKey</key>
	<integer>-1</integer>
	<key>SCRCompileFilterTypeKey</key>
	<integer>0</integer>
	<key>SCRCompileFirstPageForRegularHeaderAndFooterKey</key>
	<integer>-1</integer>
	<key>SCRCompileFolderAndTextCustomSeparatorStringKey</key>
	<string></string>
	<key>SCRCompileFolderAndTextSectionSeparatorKey</key>
	<integer>2</integer>
	<key>SCRCompileFolderCustomSeparatorStringKey</key>
	<string></string>
	<key>SCRCompileFolderFormattingLevelsKey</key>
	<array>
		<dict>
			<key>SCRHasRTFBookmarksKey</key>
			<true/>
			<key>SCRIncludeMetaDataKey</key>
			<false/>
			<key>SCRIncludeNotesKey</key>
			<false/>
			<key>SCRIncludeSynopsesKey</key>
			<false/>
			<key>SCRIncludeTextKey</key>
			<true/>
			<key>SCRIncludeTitlesKey</key>
			<true/>
			<key>SCRMainTextWordsToUppercaseInNewSectionsKey</key>
			<integer>0</integer>
			<key>SCRMetaDataAttributesKey</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAxOU0RpY3Rpb25hcnkAhIQI
			TlNPYmplY3QAhYQBaQKShISECE5TU3RyaW5nAZSEASsQTlNQYXJh
			Z3JhcGhTdHlsZYaShISEF05TTXV0YWJsZVBhcmFncmFwaFN0eWxl
			AISEEE5TUGFyYWdyYXBoU3R5bGUAlIQEQ0NAUwQAhISEDk5TTXV0
			YWJsZUFycmF5AISEB05TQXJyYXkAlJUFkoSEhAlOU1RleHRUYWIA
			lIQCQ2YAJIaShJ6eAGyGkoSengCBkACGkoSengCBtACGkoSengCB
			2ACGhoGUAIQEWzNmXSQkgwAAwD+GkoSWlwZOU0ZvbnSGkoSEhAZO
			U0ZvbnQelJUkhAVbMzZjXQYAAAAaAAAA//5NAGUAbgBsAG8ALQBJ
			AHQAYQBsAGkAYwAAAIQBZgyEAWMAowGjAKMAhoY=
			</data>
			<key>SCRMultiMarkdownPlacesTitlePrefixInsideHashesKey</key>
			<true/>
			<key>SCRMultiMarkdownPlacesTitleSuffixInsideHashesKey</key>
			<true/>
			<key>SCRNotesAttributesKey</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAxOU0RpY3Rpb25hcnkAhIQI
			TlNPYmplY3QAhYQBaQKShISECE5TU3RyaW5nAZSEASsQTlNQYXJh
			Z3JhcGhTdHlsZYaShISEF05TTXV0YWJsZVBhcmFncmFwaFN0eWxl
			AISEEE5TUGFyYWdyYXBoU3R5bGUAlIQEQ0NAUwQAhYGAAIQEWzFm
			XYMAAMA/hpKElpcGTlNGb250hpKEhIQGTlNGb250HpSVJIQFWzM2
			Y10GAAAAHAAAAP/+TQBlAG4AbABvAC0AUgBlAGcAdQBsAGEAcgCE
			AWYMhAFjAJ8BnwCfAIaG
			</data>
			<key>SCRPagePaddingKey</key>
			<integer>0</integer>
			<key>SCRPlaceTitleAsRunInHeadKey</key>
			<false/>
			<key>SCRSubtitlesAttributesKey</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAxOU0RpY3Rpb25hcnkAhIQI
			TlNPYmplY3QAhYQBaQKShISECE5TU3RyaW5nAZSEASsQTlNQYXJh
			Z3JhcGhTdHlsZYaShISEF05TTXV0YWJsZVBhcmFncmFwaFN0eWxl
			AISEEE5TUGFyYWdyYXBoU3R5bGUAlIQEQ0NAUwQAhYGAAIQEWzFm
			XYMAAMA/hpKElpcGTlNGb250hpKEhIQGTlNGb250HpSVJIQFWzM2
			Y10GAAAAGgAAAP/+TQBlAG4AbABvAC0ASQB0AGEAbABpAGMAAACE
			AWYMhAFjAJ8BnwCfAIaG
			</data>
			<key>SCRSynopsisAttributesKey</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAxOU0RpY3Rpb25hcnkAhIQI
			TlNPYmplY3QAhYQBaQKShISECE5TU3RyaW5nAZSEASsQTlNQYXJh
			Z3JhcGhTdHlsZYaShISEF05TTXV0YWJsZVBhcmFncmFwaFN0eWxl
			AISEEE5TUGFyYWdyYXBoU3R5bGUAlIQEQ0NAUwQAhISEDk5TTXV0
			YWJsZUFycmF5AISEB05TQXJyYXkAlJUBkoSEhAlOU1RleHRUYWIA
			lIQCQ2YAJIaGgZQAhARbM2ZdJCSDAADAP4aShJaXBk5TRm9udIaS
			hISEBk5TRm9udB6UlSSEBVszNmNdBgAAABwAAAD//k0AZQBuAGwA
			bwAtAFIAZQBnAHUAbABhAHIAhAFmDIQBYwCjAaMAowCGhg==
			</data>
			<key>SCRTextAttributesKey</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAxOU0RpY3Rpb25hcnkAhIQI
			TlNPYmplY3QAhYQBaQKShISECE5TU3RyaW5nAZSEASsQTlNQYXJh
			Z3JhcGhTdHlsZYaShISEF05TTXV0YWJsZVBhcmFncmFwaFN0eWxl
			AISEEE5TUGFyYWdyYXBoU3R5bGUAlIQEQ0NAUwQAhYGAAIQEWzFm
			XYMAAMA/hpKElpcGTlNGb250hpKEhIQGTlNGb250HpSVJIQFWzM2
			Y10GAAAAHAAAAP/+TQBlAG4AbABvAC0AUgBlAGcAdQBsAGEAcgCE
			AWYMhAFjAJ8BnwCfAIaG
			</data>
			<key>SCRTitleAttributesKey</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAxOU0RpY3Rpb25hcnkAhIQI
			TlNPYmplY3QAhYQBaQKShISECE5TU3RyaW5nAZSEASsQTlNQYXJh
			Z3JhcGhTdHlsZYaShISEF05TTXV0YWJsZVBhcmFncmFwaFN0eWxl
			AISEEE5TUGFyYWdyYXBoU3R5bGUAlIQEQ0NAUwQAhYGAAIQEWzFm
			XYMAAMA/hpKElpcGTlNGb250hpKEhIQGTlNGb250HpSVIIQFWzMy
			Y10GAAAAFgAAAP/+TQBlAG4AbABvAC0AQgBvAGwAZAAAAIQBZhCE
			AWMAnwGfAJ8AhoY=
			</data>
			<key>SCRTitleCaseKey</key>
			<integer>0</integer>
			<key>SCRTitlePrefixAttributesKey</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAxOU0RpY3Rpb25hcnkAhIQI
			TlNPYmplY3QAhYQBaQKShISECE5TU3RyaW5nAZSEASsQTlNQYXJh
			Z3JhcGhTdHlsZYaShISEF05TTXV0YWJsZVBhcmFncmFwaFN0eWxl
			AISEEE5TUGFyYWdyYXBoU3R5bGUAlIQEQ0NAUwQAhYGAAIQEWzFm
			XYMAAMA/hpKElpcGTlNGb250hpKEhIQGTlNGb250HpSVIIQFWzMy
			Y10GAAAAFgAAAP/+TQBlAG4AbABvAC0AQgBvAGwAZAAAAIQBZhCE
			AWMAnwGfAJ8AhoY=
			</data>
			<key>SCRTitlePrefixCaseKey</key>
			<integer>0</integer>
			<key>SCRTitlePrefixKey</key>
			<string></string>
			<key>SCRTitleSuffixAttributesKey</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAxOU0RpY3Rpb25hcnkAhIQI
			TlNPYmplY3QAhYQBaQKShISECE5TU3RyaW5nAZSEASsQTlNQYXJh
			Z3JhcGhTdHlsZYaShISEF05TTXV0YWJsZVBhcmFncmFwaFN0eWxl
			AISEEE5TUGFyYWdyYXBoU3R5bGUAlIQEQ0NAUwQAhYGAAIQEWzFm
			XYMAAMA/hpKElpcGTlNGb250hpKEhIQGTlNGb250HpSVIIQFWzMy
			Y10GAAAAFgAAAP/+TQBlAG4AbABvAC0AQgBvAGwAZAAAAIQBZhCE
			AWMAnwGfAJ8AhoY=
			</data>
			<key>SCRTitleSuffixCaseKey</key>
			<integer>0</integer>
			<key>SCRTitleSuffixKey</key>
			<string></string>
		</dict>
	</array>
	<key>SCRCompileFolderSectionSeparatorKey</key>
	<integer>2</integer>
	<key>SCRCompileFooterFontKey</key>
	<data>
	BAtzdHJlYW10eXBlZIHoA4QBQISEhAZOU0ZvbnQehIQITlNPYmplY3QAhYQBaSSEBVsz
	NmNdBgAAABwAAAD//k0AZQBuAGwAbwAtAFIAZQBnAHUAbABhAHIAhAFmDIQBYwCYAZgA
	mACG
	</data>
	<key>SCRCompileFootnotesFontKey</key>
	<data>
	BAtzdHJlYW10eXBlZIHoA4QBQISEhAZOU0ZvbnQehIQITlNPYmplY3QAhYQBaSSEBVsz
	NmNdBgAAABwAAAD//k0AZQBuAGwAbwAtAFIAZQBnAHUAbABhAHIAhAFmCoQBYwCYAZgA
	mACG
	</data>
	<key>SCRCompileFootnotesHaveSeparatorKey</key>
	<true/>
	<key>SCRCompileFootnotesRestartEachPageKey</key>
	<false/>
	<key>SCRCompileFootnotesStyleKey</key>
	<integer>0</integer>
	<key>SCRCompileFormatKey</key>
	<integer>31</integer>
	<key>SCRCompileFrontMatterIDKey</key>
	<integer>-1</integer>
	<key>SCRCompileGroupFootnotesBeforePageBreakTypeKey</key>
	<integer>1</integer>
	<key>SCRCompileGroupFootnotesBeforePageBreaksKey</key>
	<false/>
	<key>SCRCompileGroupIdentifierInfoKey</key>
	<dict>
		<key>Identifier</key>
		<string>0</string>
		<key>isCollection</key>
		<false/>
	</dict>
	<key>SCRCompileHTMLBodyTableWidthKey</key>
	<integer>600</integer>
	<key>SCRCompileHTMLConvertScrivenerLinksKey</key>
	<true/>
	<key>SCRCompileHTMLTreatPreserveFormatAsRawHTMLKey</key>
	<false/>
	<key>SCRCompileHTMLUnderlineInternalLinksKey</key>
	<true/>
	<key>SCRCompileHTMLUseCenteredBodyTableKey</key>
	<true/>
	<key>SCRCompileHeaderFontKey</key>
	<data>
	BAtzdHJlYW10eXBlZIHoA4QBQISEhAZOU0ZvbnQehIQITlNPYmplY3QAhYQBaSSEBVsz
	NmNdBgAAABwAAAD//k0AZQBuAGwAbwAtAFIAZQBnAHUAbABhAHIAhAFmDIQBYwCYAZgA
	mACG
	</data>
	<key>SCRCompileIgnoresLevelsOutsideCurrentCompileGroupKey</key>
	<false/>
	<key>SCRCompileIncludeAnnotationsInStatisticsKey</key>
	<false/>
	<key>SCRCompileIncludeCompileGroupTextKey</key>
	<true/>
	<key>SCRCompileIncludeCurrentSelectionDescendantsKey</key>
	<false/>
	<key>SCRCompileIncludeFootnotesInStatisticsKey</key>
	<true/>
	<key>SCRCompileIncludedTagKey</key>
	<integer>0</integer>
	<key>SCRCompileIncludesSubtitlesKey</key>
	<true/>
	<key>SCRCompileIndentFootnotesToMatchTextKey</key>
	<true/>
	<key>SCRCompileInlineAnnotationClosingMarkerKey</key>
	<string>]</string>
	<key>SCRCompileInlineAnnotationOpeningMarkerKey</key>
	<string>[</string>
	<key>SCRCompileInlineLinksExcludeTitleSuffixKey</key>
	<false/>
	<key>SCRCompileInlinePrefixSeparatorKey</key>
	<string> - </string>
	<key>SCRCompileInsertBlankRowBetweenStitchedTablesKey</key>
	<false/>
	<key>SCRCompileInsertPageBreakBeforeTextGroupsKey</key>
	<false/>
	<key>SCRCompileLeftAlternateFooterStringKey</key>
	<string></string>
	<key>SCRCompileLeftAlternateHeaderStringKey</key>
	<string></string>
	<key>SCRCompileLeftFirstPageFooterStringKey</key>
	<string></string>
	<key>SCRCompileLeftFirstPageHeaderStringKey</key>
	<string></string>
	<key>SCRCompileLeftFooterStringKey</key>
	<string></string>
	<key>SCRCompileLeftHeaderStringKey</key>
	<string></string>
	<key>SCRCompileMarkEndOfTextKey</key>
	<false/>
	<key>SCRCompileMultiMarkdownAddFormatCompleteKey</key>
	<true/>
	<key>SCRCompileMultiMarkdownMetaDataKey</key>
	<array>
		<dict>
			<key>data</key>
			<string>2</string>
			<key>key</key>
			<string>Base Header Level</string>
		</dict>
		<dict>
			<key>data</key>
			<string>literature.bib</string>
			<key>key</key>
			<string>BibTeX</string>
		</dict>
		<dict>
			<key>data</key>
			<string>my-thesis-footer</string>
			<key>key</key>
			<string>latex footer</string>
		</dict>
		<dict>
			<key>data</key>
			<string>apacite</string>
			<key>key</key>
			<string>Bibliostyle</string>
		</dict>
		<dict>
			<key>data</key>
			<string>&lt;$author&gt;</string>
			<key>key</key>
			<string>Author</string>
		</dict>
		<dict>
			<key>data</key>
			<string>german</string>
			<key>key</key>
			<string>Quotes language</string>
		</dict>
		<dict>
			<key>data</key>
			<string>my-thesis-input</string>
			<key>key</key>
			<string>latex input</string>
		</dict>
	</array>
	<key>SCRCompileNoHeaderAfterPageBreaksKey</key>
	<false/>
	<key>SCRCompileNoHeaderOrFooterOnSinglePagesKey</key>
	<false/>
	<key>SCRCompileNoPagePaddingForFirstDocumentKey</key>
	<integer>0</integer>
	<key>SCRCompileNotesBeforeTextKey</key>
	<true/>
	<key>SCRCompileOverrideAffectsFontOnlyKey</key>
	<false/>
	<key>SCRCompileOverrideFlattenIndentsType</key>
	<integer>1</integer>
	<key>SCRCompileOverrideFlattensFirstParagraphIndent</key>
	<false/>
	<key>SCRCompileOverrideFontFaceThroughoutKey</key>
	<false/>
	<key>SCRCompileOverrideFontNameKey</key>
	<string>Helvetica</string>
	<key>SCRCompileOverrideFootnotesFontKey</key>
	<false/>
	<key>SCRCompileOverridePrefixSeparatorInInlineLinksKey</key>
	<true/>
	<key>SCRCompileOverridePreserveFormattingHasLimits</key>
	<false/>
	<key>SCRCompileOverridePreservesAlignmentKey</key>
	<false/>
	<key>SCRCompileOverridePreservesCenteredAlignmentOnlyKey</key>
	<false/>
	<key>SCRCompileOverridePreservesIndentsKey</key>
	<false/>
	<key>SCRCompileOverridePreservesLineSpacingKey</key>
	<false/>
	<key>SCRCompileOverrideTextAndNotesFormatKey</key>
	<false/>
	<key>SCRCompilePageBottomMarginKey</key>
	<real>1</real>
	<key>SCRCompilePageBottomMarginUnitsKey</key>
	<integer>1</integer>
	<key>SCRCompilePageLeftMarginKey</key>
	<real>1</real>
	<key>SCRCompilePageLeftMarginUnitsKey</key>
	<integer>1</integer>
	<key>SCRCompilePageRightMarginKey</key>
	<real>1</real>
	<key>SCRCompilePageRightMarginUnitsKey</key>
	<integer>1</integer>
	<key>SCRCompilePageTopMarginKey</key>
	<real>1</real>
	<key>SCRCompilePageTopMarginUnitsKey</key>
	<integer>1</integer>
	<key>SCRCompilePlainTextConversionTypeKey</key>
	<integer>1</integer>
	<key>SCRCompilePrintInfoKey</key>
	<data>
	BAtzdHJlYW10eXBlZIHoA4QBQISEhAtOU1ByaW50SW5mbwGEhAhOU09iamVjdACFkoSE
	hBNOU011dGFibGVEaWN0aW9uYXJ5AISEDE5TRGljdGlvbmFyeQCUhAFpCJKEhIQITlNT
	dHJpbmcBlIQBKw5OU0JvdHRvbU1hcmdpboaShISECE5TTnVtYmVyAISEB05TVmFsdWUA
	lIQBKoSEAWadWoaShJmZDU5TUmlnaHRNYXJnaW6GkoSbnJ2dSIaShJmZFk5TSG9yaXpv
	bnRhbGx5Q2VudGVyZWSGkoSbnISEAWOeAYaShJmZFE5TVmVydGljYWxseUNlbnRlcmVk
	hpKhkoSZmQtOU1RvcE1hcmdpboaShJucnZ1ahpKEmZkMTlNMZWZ0TWFyZ2luhpKEm5yd
	nUiGkoSZmRROU1ZlcnRpY2FsUGFnaW5hdGlvboaShJuchJeXAIaShJmZFU5TSG9yaXpv
	bmFsUGFnaW5hdGlvboaShJucqpcChoaG
	</data>
	<key>SCRCompileProjectVariableReplacementsKey</key>
	<array/>
	<key>SCRCompileRTFEnsureHyperlinksUseColorAndUnderlineKey</key>
	<false/>
	<key>SCRCompileRTFFlattenFootnotesAndCommentsKey</key>
	<false/>
	<key>SCRCompileRTFNoColumnsInFirstDocumentKey</key>
	<false/>
	<key>SCRCompileRTFNumberOfColumnsKey</key>
	<integer>2</integer>
	<key>SCRCompileRTFSpaceBetweenColumnsInTwipsKey</key>
	<integer>360</integer>
	<key>SCRCompileRTFStripTablesKey</key>
	<false/>
	<key>SCRCompileRTFUseColumnsKey</key>
	<false/>
	<key>SCRCompileRTFUsesCocoaStyleListIndentsKey</key>
	<false/>
	<key>SCRCompileReduceRTFOrEbookFootnoteMarkerFontSizeKey</key>
	<false/>
	<key>SCRCompileRemoveAllHyperlinksKey</key>
	<false/>
	<key>SCRCompileRemoveCommentsKey</key>
	<false/>
	<key>SCRCompileRemoveFootnotesKey</key>
	<false/>
	<key>SCRCompileRemoveHighlightingKey</key>
	<false/>
	<key>SCRCompileRemoveInlineAnnotationsKey</key>
	<true/>
	<key>SCRCompileRemoveTextColorKey</key>
	<false/>
	<key>SCRCompileRestrictWidthOfStitchedTablesKey</key>
	<false/>
	<key>SCRCompileRightAlternateFooterStringKey</key>
	<string></string>
	<key>SCRCompileRightAlternateHeaderStringKey</key>
	<string></string>
	<key>SCRCompileRightFirstPageFooterStringKey</key>
	<string></string>
	<key>SCRCompileRightFirstPageHeaderStringKey</key>
	<string></string>
	<key>SCRCompileRightFooterStringKey</key>
	<string></string>
	<key>SCRCompileRightHeaderStringKey</key>
	<string>&lt;$projecttitle&gt;</string>
	<key>SCRCompileStatisticsCharacterCountExcludesWhitespaceKey</key>
	<false/>
	<key>SCRCompileStatisticsCountAllTextKey</key>
	<true/>
	<key>SCRCompileStatisticsCountMainTextKey</key>
	<true/>
	<key>SCRCompileStatisticsCountNotesTextKey</key>
	<false/>
	<key>SCRCompileStatisticsCountSynopsesTextKey</key>
	<false/>
	<key>SCRCompileStatisticsExcludeFrontMatterKey</key>
	<true/>
	<key>SCRCompileStatisticsFilterCollectionIDKey</key>
	<string>667D84C6-E253-4BD3-9FCC-0BBFD4929446</string>
	<key>SCRCompileStatisticsFilterDocumentsKey</key>
	<false/>
	<key>SCRCompileStatisticsFilterExcludeKey</key>
	<false/>
	<key>SCRCompileStatisticsFilterLabelKey</key>
	<integer>-1</integer>
	<key>SCRCompileStatisticsFilterStatusKey</key>
	<integer>-1</integer>
	<key>SCRCompileStatisticsFilterTypeKey</key>
	<integer>0</integer>
	<key>SCRCompileStitchTablesTogetherKey</key>
	<false/>
	<key>SCRCompileStraightenTypographersQuotesKey</key>
	<false/>
	<key>SCRCompileTextAndFolderCustomSeparatorStringKey</key>
	<string></string>
	<key>SCRCompileTextAndFolderSectionSeparatorKey</key>
	<integer>3</integer>
	<key>SCRCompileTextContainerFormattingLevelsKey</key>
	<array>
		<dict>
			<key>SCRHasRTFBookmarksKey</key>
			<true/>
			<key>SCRIncludeMetaDataKey</key>
			<false/>
			<key>SCRIncludeNotesKey</key>
			<false/>
			<key>SCRIncludeSynopsesKey</key>
			<false/>
			<key>SCRIncludeTextKey</key>
			<true/>
			<key>SCRIncludeTitlesKey</key>
			<true/>
			<key>SCRMainTextWordsToUppercaseInNewSectionsKey</key>
			<integer>0</integer>
			<key>SCRMetaDataAttributesKey</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAxOU0RpY3Rpb25hcnkAhIQI
			TlNPYmplY3QAhYQBaQKShISECE5TU3RyaW5nAZSEASsQTlNQYXJh
			Z3JhcGhTdHlsZYaShISEF05TTXV0YWJsZVBhcmFncmFwaFN0eWxl
			AISEEE5TUGFyYWdyYXBoU3R5bGUAlIQEQ0NAUwQAhISEDk5TTXV0
			YWJsZUFycmF5AISEB05TQXJyYXkAlJUFkoSEhAlOU1RleHRUYWIA
			lIQCQ2YAJIaShJ6eAGyGkoSengCBkACGkoSengCBtACGkoSengCB
			2ACGhoGUAIQEWzNmXSQkgwAAwD+GkoSWlwZOU0ZvbnSGkoSEhAZO
			U0ZvbnQelJUkhAVbMzZjXQYAAAAaAAAA//5NAGUAbgBsAG8ALQBJ
			AHQAYQBsAGkAYwAAAIQBZgyEAWMAowGjAKMAhoY=
			</data>
			<key>SCRMultiMarkdownPlacesTitlePrefixInsideHashesKey</key>
			<true/>
			<key>SCRMultiMarkdownPlacesTitleSuffixInsideHashesKey</key>
			<true/>
			<key>SCRNotesAttributesKey</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAxOU0RpY3Rpb25hcnkAhIQI
			TlNPYmplY3QAhYQBaQKShISECE5TU3RyaW5nAZSEASsQTlNQYXJh
			Z3JhcGhTdHlsZYaShISEF05TTXV0YWJsZVBhcmFncmFwaFN0eWxl
			AISEEE5TUGFyYWdyYXBoU3R5bGUAlIQEQ0NAUwQAhYGAAIQEWzFm
			XYMAAMA/hpKElpcGTlNGb250hpKEhIQGTlNGb250HpSVJIQFWzM2
			Y10GAAAAHAAAAP/+TQBlAG4AbABvAC0AUgBlAGcAdQBsAGEAcgCE
			AWYMhAFjAJ8BnwCfAIaG
			</data>
			<key>SCRPagePaddingKey</key>
			<integer>0</integer>
			<key>SCRPlaceTitleAsRunInHeadKey</key>
			<false/>
			<key>SCRSubtitlesAttributesKey</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAxOU0RpY3Rpb25hcnkAhIQI
			TlNPYmplY3QAhYQBaQKShISECE5TU3RyaW5nAZSEASsQTlNQYXJh
			Z3JhcGhTdHlsZYaShISEF05TTXV0YWJsZVBhcmFncmFwaFN0eWxl
			AISEEE5TUGFyYWdyYXBoU3R5bGUAlIQEQ0NAUwQAhYGAAIQEWzFm
			XYMAAMA/hpKElpcGTlNGb250hpKEhIQGTlNGb250HpSVJIQFWzM2
			Y10GAAAAGgAAAP/+TQBlAG4AbABvAC0ASQB0AGEAbABpAGMAAACE
			AWYMhAFjAJ8BnwCfAIaG
			</data>
			<key>SCRSynopsisAttributesKey</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAxOU0RpY3Rpb25hcnkAhIQI
			TlNPYmplY3QAhYQBaQKShISECE5TU3RyaW5nAZSEASsQTlNQYXJh
			Z3JhcGhTdHlsZYaShISEF05TTXV0YWJsZVBhcmFncmFwaFN0eWxl
			AISEEE5TUGFyYWdyYXBoU3R5bGUAlIQEQ0NAUwQAhISEDk5TTXV0
			YWJsZUFycmF5AISEB05TQXJyYXkAlJUBkoSEhAlOU1RleHRUYWIA
			lIQCQ2YAJIaGgZQAhARbM2ZdJCSDAADAP4aShJaXBk5TRm9udIaS
			hISEBk5TRm9udB6UlSSEBVszNmNdBgAAABwAAAD//k0AZQBuAGwA
			bwAtAFIAZQBnAHUAbABhAHIAhAFmDIQBYwCjAaMAowCGhg==
			</data>
			<key>SCRTextAttributesKey</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAxOU0RpY3Rpb25hcnkAhIQI
			TlNPYmplY3QAhYQBaQKShISECE5TU3RyaW5nAZSEASsQTlNQYXJh
			Z3JhcGhTdHlsZYaShISEF05TTXV0YWJsZVBhcmFncmFwaFN0eWxl
			AISEEE5TUGFyYWdyYXBoU3R5bGUAlIQEQ0NAUwQAhYGAAIQEWzFm
			XYMAAMA/hpKElpcGTlNGb250hpKEhIQGTlNGb250HpSVJIQFWzM2
			Y10GAAAAHAAAAP/+TQBlAG4AbABvAC0AUgBlAGcAdQBsAGEAcgCE
			AWYMhAFjAJ8BnwCfAIaG
			</data>
			<key>SCRTitleAttributesKey</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAxOU0RpY3Rpb25hcnkAhIQI
			TlNPYmplY3QAhYQBaQKShISECE5TU3RyaW5nAZSEASsQTlNQYXJh
			Z3JhcGhTdHlsZYaShISEF05TTXV0YWJsZVBhcmFncmFwaFN0eWxl
			AISEEE5TUGFyYWdyYXBoU3R5bGUAlIQEQ0NAUwQAhYGAAIQEWzFm
			XYMAAMA/hpKElpcGTlNGb250hpKEhIQGTlNGb250HpSVIIQFWzMy
			Y10GAAAAFgAAAP/+TQBlAG4AbABvAC0AQgBvAGwAZAAAAIQBZgyE
			AWMAnwGfAJ8AhoY=
			</data>
			<key>SCRTitleCaseKey</key>
			<integer>0</integer>
			<key>SCRTitlePrefixAttributesKey</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAxOU0RpY3Rpb25hcnkAhIQI
			TlNPYmplY3QAhYQBaQKShISECE5TU3RyaW5nAZSEASsQTlNQYXJh
			Z3JhcGhTdHlsZYaShISEF05TTXV0YWJsZVBhcmFncmFwaFN0eWxl
			AISEEE5TUGFyYWdyYXBoU3R5bGUAlIQEQ0NAUwQAhYGAAIQEWzFm
			XYMAAMA/hpKElpcGTlNGb250hpKEhIQGTlNGb250HpSVIIQFWzMy
			Y10GAAAAFgAAAP/+TQBlAG4AbABvAC0AQgBvAGwAZAAAAIQBZgyE
			AWMAnwGfAJ8AhoY=
			</data>
			<key>SCRTitlePrefixCaseKey</key>
			<integer>0</integer>
			<key>SCRTitlePrefixKey</key>
			<string></string>
			<key>SCRTitleSuffixAttributesKey</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAxOU0RpY3Rpb25hcnkAhIQI
			TlNPYmplY3QAhYQBaQKShISECE5TU3RyaW5nAZSEASsQTlNQYXJh
			Z3JhcGhTdHlsZYaShISEF05TTXV0YWJsZVBhcmFncmFwaFN0eWxl
			AISEEE5TUGFyYWdyYXBoU3R5bGUAlIQEQ0NAUwQAhYGAAIQEWzFm
			XYMAAMA/hpKElpcGTlNGb250hpKEhIQGTlNGb250HpSVIIQFWzMy
			Y10GAAAAFgAAAP/+TQBlAG4AbABvAC0AQgBvAGwAZAAAAIQBZgyE
			AWMAnwGfAJ8AhoY=
			</data>
			<key>SCRTitleSuffixCaseKey</key>
			<integer>0</integer>
			<key>SCRTitleSuffixKey</key>
			<string></string>
		</dict>
	</array>
	<key>SCRCompileTextCustomSeparatorStringKey</key>
	<string>#</string>
	<key>SCRCompileTextFormattingLevelsKey</key>
	<array>
		<dict>
			<key>SCRHasRTFBookmarksKey</key>
			<true/>
			<key>SCRIncludeMetaDataKey</key>
			<false/>
			<key>SCRIncludeNotesKey</key>
			<false/>
			<key>SCRIncludeSynopsesKey</key>
			<false/>
			<key>SCRIncludeTextKey</key>
			<true/>
			<key>SCRIncludeTitlesKey</key>
			<true/>
			<key>SCRMainTextWordsToUppercaseInNewSectionsKey</key>
			<integer>0</integer>
			<key>SCRMetaDataAttributesKey</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAxOU0RpY3Rpb25hcnkAhIQI
			TlNPYmplY3QAhYQBaQKShISECE5TU3RyaW5nAZSEASsQTlNQYXJh
			Z3JhcGhTdHlsZYaShISEF05TTXV0YWJsZVBhcmFncmFwaFN0eWxl
			AISEEE5TUGFyYWdyYXBoU3R5bGUAlIQEQ0NAUwQAhISEDk5TTXV0
			YWJsZUFycmF5AISEB05TQXJyYXkAlJUFkoSEhAlOU1RleHRUYWIA
			lIQCQ2YAJIaShJ6eAGyGkoSengCBkACGkoSengCBtACGkoSengCB
			2ACGhoGUAIQEWzNmXSQkgwAAwD+GkoSWlwZOU0ZvbnSGkoSEhAZO
			U0ZvbnQelJUkhAVbMzZjXQYAAAAaAAAA//5NAGUAbgBsAG8ALQBJ
			AHQAYQBsAGkAYwAAAIQBZgyEAWMAowGjAKMAhoY=
			</data>
			<key>SCRMultiMarkdownPlacesTitlePrefixInsideHashesKey</key>
			<true/>
			<key>SCRMultiMarkdownPlacesTitleSuffixInsideHashesKey</key>
			<true/>
			<key>SCRNotesAttributesKey</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAxOU0RpY3Rpb25hcnkAhIQI
			TlNPYmplY3QAhYQBaQKShISECE5TU3RyaW5nAZSEASsQTlNQYXJh
			Z3JhcGhTdHlsZYaShISEF05TTXV0YWJsZVBhcmFncmFwaFN0eWxl
			AISEEE5TUGFyYWdyYXBoU3R5bGUAlIQEQ0NAUwQAhYGAAIQEWzFm
			XYMAAMA/hpKElpcGTlNGb250hpKEhIQGTlNGb250HpSVJIQFWzM2
			Y10GAAAAHAAAAP/+TQBlAG4AbABvAC0AUgBlAGcAdQBsAGEAcgCE
			AWYMhAFjAJ8BnwCfAIaG
			</data>
			<key>SCRPagePaddingKey</key>
			<integer>0</integer>
			<key>SCRPlaceTitleAsRunInHeadKey</key>
			<false/>
			<key>SCRSubtitlesAttributesKey</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAxOU0RpY3Rpb25hcnkAhIQI
			TlNPYmplY3QAhYQBaQKShISECE5TU3RyaW5nAZSEASsQTlNQYXJh
			Z3JhcGhTdHlsZYaShISEF05TTXV0YWJsZVBhcmFncmFwaFN0eWxl
			AISEEE5TUGFyYWdyYXBoU3R5bGUAlIQEQ0NAUwQAhYGAAIQEWzFm
			XYMAAMA/hpKElpcGTlNGb250hpKEhIQGTlNGb250HpSVJIQFWzM2
			Y10GAAAAGgAAAP/+TQBlAG4AbABvAC0ASQB0AGEAbABpAGMAAACE
			AWYMhAFjAJ8BnwCfAIaG
			</data>
			<key>SCRSynopsisAttributesKey</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAxOU0RpY3Rpb25hcnkAhIQI
			TlNPYmplY3QAhYQBaQKShISECE5TU3RyaW5nAZSEASsQTlNQYXJh
			Z3JhcGhTdHlsZYaShISEF05TTXV0YWJsZVBhcmFncmFwaFN0eWxl
			AISEEE5TUGFyYWdyYXBoU3R5bGUAlIQEQ0NAUwQAhISEDk5TTXV0
			YWJsZUFycmF5AISEB05TQXJyYXkAlJUBkoSEhAlOU1RleHRUYWIA
			lIQCQ2YAJIaGgZQAhARbM2ZdJCSDAADAP4aShJaXBk5TRm9udIaS
			hISEBk5TRm9udB6UlSSEBVszNmNdBgAAABwAAAD//k0AZQBuAGwA
			bwAtAFIAZQBnAHUAbABhAHIAhAFmDIQBYwCjAaMAowCGhg==
			</data>
			<key>SCRTextAttributesKey</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAxOU0RpY3Rpb25hcnkAhIQI
			TlNPYmplY3QAhYQBaQKShISECE5TU3RyaW5nAZSEASsQTlNQYXJh
			Z3JhcGhTdHlsZYaShISEF05TTXV0YWJsZVBhcmFncmFwaFN0eWxl
			AISEEE5TUGFyYWdyYXBoU3R5bGUAlIQEQ0NAUwQAhYGAAIQEWzFm
			XYMAAMA/hpKElpcGTlNGb250hpKEhIQGTlNGb250HpSVJIQFWzM2
			Y10GAAAAHAAAAP/+TQBlAG4AbABvAC0AUgBlAGcAdQBsAGEAcgCE
			AWYMhAFjAJ8BnwCfAIaG
			</data>
			<key>SCRTitleAttributesKey</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAxOU0RpY3Rpb25hcnkAhIQI
			TlNPYmplY3QAhYQBaQKShISECE5TU3RyaW5nAZSEASsQTlNQYXJh
			Z3JhcGhTdHlsZYaShISEF05TTXV0YWJsZVBhcmFncmFwaFN0eWxl
			AISEEE5TUGFyYWdyYXBoU3R5bGUAlIQEQ0NAUwQAhYGAAIQEWzFm
			XYMAAMA/hpKElpcGTlNGb250hpKEhIQGTlNGb250HpSVIIQFWzMy
			Y10GAAAAFgAAAP/+TQBlAG4AbABvAC0AQgBvAGwAZAAAAIQBZgyE
			AWMAnwGfAJ8AhoY=
			</data>
			<key>SCRTitleCaseKey</key>
			<integer>0</integer>
			<key>SCRTitlePrefixAttributesKey</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAxOU0RpY3Rpb25hcnkAhIQI
			TlNPYmplY3QAhYQBaQKShISECE5TU3RyaW5nAZSEASsQTlNQYXJh
			Z3JhcGhTdHlsZYaShISEF05TTXV0YWJsZVBhcmFncmFwaFN0eWxl
			AISEEE5TUGFyYWdyYXBoU3R5bGUAlIQEQ0NAUwQAhYGAAIQEWzFm
			XYMAAMA/hpKElpcGTlNGb250hpKEhIQGTlNGb250HpSVIIQFWzMy
			Y10GAAAAFgAAAP/+TQBlAG4AbABvAC0AQgBvAGwAZAAAAIQBZgyE
			AWMAnwGfAJ8AhoY=
			</data>
			<key>SCRTitlePrefixCaseKey</key>
			<integer>0</integer>
			<key>SCRTitlePrefixKey</key>
			<string></string>
			<key>SCRTitleSuffixAttributesKey</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAxOU0RpY3Rpb25hcnkAhIQI
			TlNPYmplY3QAhYQBaQKShISECE5TU3RyaW5nAZSEASsQTlNQYXJh
			Z3JhcGhTdHlsZYaShISEF05TTXV0YWJsZVBhcmFncmFwaFN0eWxl
			AISEEE5TUGFyYWdyYXBoU3R5bGUAlIQEQ0NAUwQAhYGAAIQEWzFm
			XYMAAMA/hpKElpcGTlNGb250hpKEhIQGTlNGb250HpSVIIQFWzMy
			Y10GAAAAFgAAAP/+TQBlAG4AbABvAC0AQgBvAGwAZAAAAIQBZgyE
			AWMAnwGfAJ8AhoY=
			</data>
			<key>SCRTitleSuffixCaseKey</key>
			<integer>0</integer>
			<key>SCRTitleSuffixKey</key>
			<string></string>
		</dict>
	</array>
	<key>SCRCompileTextSectionSeparatorKey</key>
	<integer>2</integer>
	<key>SCRCompileUpdateScrivenerLinksWithPrefixAndSuffixKey</key>
	<true/>
	<key>SCRCompileUseAlternativeBlankLineSeparatorBetweenPagesKey</key>
	<false/>
	<key>SCRCompileUseHyphenationKey</key>
	<false/>
	<key>SCRCompileUsePeriodSpaceFootnoteMarkerStyleKey</key>
	<false/>
	<key>SCRCompileUseProjectPageSetupKey</key>
	<true/>
	<key>SCRCompileVariableReplacementsKey</key>
	<array/>
</dict>
</plist>
